APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://localhost
APP_FRONT_URL=https://front.localhost
LOG_QUERIES=true

LOG_CHANNEL=stack

DATABASE_URL=mysql://user:password@host/database

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
SMTP_PREFIX=PREFIX_
PREFIX_SMTP_SERVER=smtp.mailtrap.io
PREFIX_SMTP_PORT=2525
PREFIX_SMTP_LOGIN=null
PREFIX_SMTP_PASSWORD=null
PREFIX_SMTP_ENCRYPTION=null

PAYU_MERCHANT_ID=
PAYU_ACCOUNT_ID=
PAYU_API_KEY=

MP_CLIENT_ID=
MP_CLIENT_SECRET=
MP_ACCESS_TOKEN=

FILESYSTEM_DRIVER=s3|public
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_DEFAULT_REGION=

HTTPS=true
CORS_ALLOW_ORIGINS=http://localhost:8080

CHILEXPRESS_TCC=
CHILEXPRESS_USER=
CHILEXPRESS_PASS=
CHILEXPRESS_CODSERVICIO=

CHILEXPRESS_FTP_SERVER=
CHILEXPRESS_FTP_USER=
CHILEXPRESS_FTP_PASS=

# If you have an ephemeral filesyste, put the content of the
# keys generated with `php artisan passport:keys` in these variables.
# The composer `post-autoload-dump` hook will set the files with the values set here.
OAUTH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----000000000000-----END PUBLIC KEY-----"
OAUTH_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----000000000000-----END RSA PRIVATE KEY-----"

# Used to validate the ownership of a domain.
# Documentes in `routes/web.php`
DOMAIN_VALIDATION=

# Optional configuration values.
PRILOV_MINUTES_UNTIL_CANCELED=
PRILOV_DAYS_CREATED_TO_CANCELED=
PRILOV_DAYS_TO_PUBLISH_RATINGS=
PRILOV_DAYS_DELIVERED_TO_COMPLETED=
PRILOV_DAYS_SHIPPING_TO_DELIVERED=
